{
        log {
                exclude http.handlers.reverse_proxy
        }
}
:8880 {
        encode gzip
        # Force HTTPS
        @http-req {
                header X-Forwarded-Proto http
        }
        redir @http-req https://{host}{uri}
        # Configure ttyd
        handle /home/ttyd* {
                redir /home/ttyd /home/ttyd/
                uri strip_prefix /home/ttyd
                reverse_proxy * localhost:61803
        }
        # Configure qbittorrent
	handle /home/qbit* {
                redir /home/qbit /home/qbit/
                uri strip_prefix /home/qbit
                reverse_proxy * localhost:61804
	}
	# Configure Filebrowser
	handle /home/files* {
                redir /home/files /home/files/
                uri strip_prefix /home/files
                reverse_proxy * localhost:61801
	}
        # Configure homer
        handle * {
                #redir /home /home/
                #uri strip_prefix /home
                root * /content/homer
                file_server
        }
}

:3030
{
        encode gzip
        # Force HTTPS
        @http-req {
                header X-Forwarded-Proto http
        }
        redir @http-req https://{host}{uri}

        handle * {
          reverse_proxy localhost:3000
        }

}
