{
        log {
                exclude http.handlers.reverse_proxy
        }
}
:8880 {
        encode gzip
        # Force HTTPS
        @http-req {
                header X-Forwarded-Proto http
        }
        redir @http-req https://{host}{uri}
        # Configure ttyd
        handle /home/ttyd* {
                redir /home/ttyd /home/ttyd/
                uri strip_prefix /home/ttyd
                reverse_proxy * localhost:61803
        }
        # Configure qbittorrent
	handle /home/qbit* {
		reverse_proxy /home/qbit* localhost:61804
	}
	# Configure Filebrowser
	handle /home/files* {
		reverse_proxy /home/files* localhost:61801
	}
        # Configure homer
        handle * {
                #redir /home /home/
                #uri strip_prefix /home
                root * /content/homer
                file_server
        }
}